<%-include("./header")%>
<body>
<%-include("./errors")%>
<div></div>
    <h2>Dashboard</h2>
    <h4>Welcome <%= user %> </h4>
    <a href="/logout" class="btn btn-primary">Logout</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/custom.js" type="text/javascript"></script>
</body>
</html>